<h1>Search Results</h1>

<% movies.forEach(movie => { %>
    <li>(<img src="<%= movie.Poster %>" alt="<%= movie.Title %>">)(<%= movie.Title %>) (<%= movie.Year %>)</li>

  <form action="/save-movie" method="POST">
        <input type="hidden" name="title" value="<%= movie.Title %>">
        <input type="hidden" name="year" value="<%= movie.Year %>">
        <input type="hidden" name="poster" value="<%= movie.Poster %>">
        <button type="submit">Save</button>
    </form>
    <% }) %>

